/* HEADER STYLING */
body {
  padding: 0;
  margin: 0;
  position: relative;
}

.header {
  margin: 5px 83px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  /* position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5; */
  
}

.header-logo {
  margin-top: 5px;
  display: flex;
  font-size: 16px;
  text-align: left;
  text-transform: capitalize;
  line-height: 26px;
}

img {
  width: 40px;
  height: 40px;
}
.header-p {
  padding-left: 10px;
  margin-top: -20px;
}
.header-p1 {
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  font-family: walsheim, sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.header-p2 {
  margin-top: -15px;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  font-family: "PT Sans";
  font-weight: 400;
  width: 400px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav {
  margin-top: 20px;
}

nav a {
  margin-bottom: -50px;
  padding-right: 30px;
  font-size: 15px;
  font-weight: 50px;
  font-family: walsheim, sans-serif;
  text-decoration: none;
  color: #257af8;
}
nav a:hover {
  color: #88abcf;
  text-decoration: underline;
  cursor: pointer;
}

/*  SECTION  1 STYLING*/

.section1 {
  padding: 30px 10px;
  background-image: url(../techstudio/images/techstudio\ bg\ .jpeg);
  background-size: 100%;
}

.formtext {
  margin: 0px 73px;
  padding: 30px 15px;
}

div .text-form {
  display: flex;
  margin: 0px -15px;
}
.text {
  margin: 30px 0px;
  padding: 0px 15px;
}

.h1text {
  margin-bottom: 5px;
  color: #fff;
  font-family: walsheim, sans-serif;
  /* font-size: 40px; */
  /* font-weight: 700px; */
  line-height: 48px;
  text-align: left;
}
.p1text {
  margin-bottom: 10px;
  color: rgb(183, 183, 183);
  font-family: pt-sans;
  line-height: 32px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}
.textinfo {
  margin: 30px 0px 0px 0px;
}
.h2info {
  margin-bottom: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
  font-family: walsheim, sans-serif;
  text-align: left;
}
.location,
.date,
.duration {
  padding: 0px 5px 0px 0px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 18px;
  line-height: 28.8px;
  font-family: walsheim, sans-serif;
  width: 400px;
}
/* FORM STYLING */
.form {
  margin: 30px 0px 0px 0px;
  padding: 30px 30px 0px 30px;
  background: #fff;
  width: 600px;
  height: 450px;
}
.p2 {
  margin-bottom: 20px;
  color: rgba(52, 58, 64);
  font-family: walsheim, sans-serif;
  font-size: 20px;
  font-weight: 300px;
  line-height: 24px;
  width: 400px;
  height: 48px;
}
.name {
  display: flex;
  justify-content: space-between;
}

.others input {
  justify-content: center;
  display: block;
  width: 430px;
  height: 50px;
  cursor: type;
  margin-bottom: 15px;
  border: 1px solid black;
  padding: 3.75px 7.75px;
}
form .name1 {
  margin-right: 40px;
  width: 50%;
  height: 50px;
  border-radius: 2.5px;
  cursor: type;
  margin-bottom: 15px;
  border: 1px solid black;
  padding: 3.75px 7.75px;
}
form .name2 {
  margin-left: 10px;
  width: 50%;
  height: 50px;
  border-radius: 2.5px;
  cursor: type;
  margin-bottom: 15px;
  border: 1px solid black;
  padding: 3.75px 7.75px;
}
.section1 button {
  width: 450px;
  height: 60px;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 2.5px;
  background-color: #257af8;
}
.section1 button:hover {
  background-color: #1e69d9;
}
/* SECTION 2 */
.section2 {
  background-color: #f9fafa;
  padding: 15px 0px;
  /* position: sticky;
  top: 0; */
}
.testimony {
  padding: 30px 0px;
  margin: 0px 83px;
  text-align: center;
}
.testimony1-2 {
  display: flex;
  justify-content: space-between;
  margin: -15px -15px;
}
.testimony1,
.testimony2,
.testimony3 {
  margin: 5px 0px 0px 0px;
  font-size: 20px;
  font-family: pt-sans;
}
.testimony1,
.testimony2 {
  width: 570px;
  font-size: 20px;
  font-family: pt-sans;
}
.testimony3 {
  width: 50%;
  font-size: 20px;
  font-family: pt-sans;
  padding-left: 25%;
}

.testing3 {
  display: flex;
}
.testing1,
.testing2 {
  width: 250px;
}
.section2 img {
  margin-bottom: 10px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
h3 .sp1 {
  font-weight: 200;
}
h3 .sp2 {
  color: #dc3e45;
}
.section2 p {
  margin: 0;
}
/* SECTION 3 */
.section3 {
  padding: 30px 0px;
  background-color: #fff;
}
.cal-boa-suit {
  margin: 0px 83px;
  /* margin: 0px -15px; */
  padding: 30px 0px;
}
.calboasuit {
  display: flex;
}
.section3 img {
  width: 170px;
  height: 170px;
  padding-left: 90px;
}
.calender,
.board,
.suitcase {
  margin: 0px 0px 30px;
  padding: 0px 15px;
}
.section3 h2 {
  margin-bottom: 5px;
  font-family: walsheim, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
}
.section3 p {
  margin-bottom: 10px;
  font-family: pt-sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: center;
}
/* SECTION 4 */
.section4 {
  padding: 30px 0px;
  background-color: #f9fafa;
}
.section4div {
  padding: 30px 15px;
  margin: 0px 83px;
}
.section4 h2 {
  margin-bottom: 5px;
  font-family: walsheim, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: center;
}
.section4 hr {
  width: 50px;
  border: 3px solid #257af8;
  margin-top: 15px;
}

.section4p-img {
  display: flex;
  padding: 0px -15px;
}
.section4p,
.section4img {
  padding: 20px 10px 0px 10px;
}
.section4 p {
  padding-right: 15px;
  margin-bottom: 10px;
  font-family: pt-sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
}

.section4 img {
  margin-top: 20px;
  width: 570px;
  height: 367.531px;
}
.section4 button {
  width: 200px;
  height: 50px;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  background-color: #257af8;
}
.section4 button:hover {
  background-color: #1e69d9;
}
/* SECTION 5 */
.section5 {
  margin: 5px 83px;
  padding: 30px 0px;
  background-color: #fff;
}

.section5div {
  margin: 5px 83px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section5div p{
text-align: center;
}

.section5flex {
  display: flex;
  /* justify-content: space-between; */
}
.section5div h2 {
  text-align: center;
}
.section5div p {
  text-align: center;
  /* margin: 30px 292px; */
  width: 50%;
}
.section5div img {
  text-align: center;
  width: 100%;
  height: 70%;
}

.section5 button {
  width: 200px;
  height: 50px;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  background-color: #257af8;
}
.section5 button:hover {
  background-color: #1e69d9;
}
.section5ph {
  padding: 10px 30px;
}
.section5hp {
  padding: 10px 30px;
}
.section5hp h3 {
}
.section5hp p {
}
/* SECTION 6 STYLING  */
.section6flex {
  display: flex;
  margin: 0px 83px;
  /* justify-content: space-between; */
}
.section6flex img {
  width: 105%;
  height: 105%;
  /* width: 105%;
  height: 105%; */
}
.section6flex-text {
  padding: 20px 40px;
  background: #fff;
  width: 700px;
  height: 50%;
  margin-top: 90px;
  border: 0;
  border-radius: 15px;
  margin-bottom: 10px;
  box-shadow: rgb(204, 204, 204) 10px 5px 15px 0px;
  
}
/* SECTION 7 STYLING */

.section7flex-1 {
  display: flex;
}
.section7flex-2 {
  display: flex;
}

@media (max-width: 425px) {
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    height: 20%;
   
  }
  .navdiv {
    width: 200%;
  }
  div .text-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px 0px;
    margin: 0px;
  }
  .section1 {
    width:250%;

  }
  .formtext {

    margin: 0px;
    /* padding: 10px 30px; */
  }
  .form{
    margin: 0px;
    width: 450px;
  }
  .name {
    display: flex;
    justify-content: space-between;
  }
  form .name1 {
    margin-right: 40px;
    width: 50%;
    height: 50px;
    border-radius: 2.5px;
    cursor: type;
    margin-bottom: 15px;
    border: 1px solid black;
    padding: 3.75px 7.75px;
  }
  form .name2 {
    margin-right: 5px;
    width: 50%;
    height: 50px;
    border-radius: 2.5px;
    cursor: type;
    margin-bottom: 15px;
    border: 1px solid black;
    padding: 3.75px 7.75px;
  }
  
  .testimony1-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px 0px;
    margin: none;
    justify-content: start;
  }
}
